<template>
  <div class="callpatient">
    <div class="content">
      <div class="call-group" v-bind:key="call_group">
        <h2 class="call-group-title">
          Treatment Queue
        </h2>
        <div class="call-group-card mx-4">
          <div class="call-group-card-item card d-inlineflex-between-align-center flex-column" v-bind:key="'call_group_card'+index" v-for="(queue_item,index) in queue">
              <img src="https://via.placeholder.com/300" alt="">
              <button type="button" class="btn btn-secondary mb-0">Secondary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CallPatient',
  data () {
    return {
      queue:[{},{},{},{},{},{},{},{},{},{},{},{},{}]
    }
  }
}
</script>
