<template>
  <div id="communication">
    <div class="d-flex h-100">
      <div class="contact-list border-right border-secondary white-bg h-100">
        <div class="">
          <div class="chat-header card border border-left-0 border-right-0 border-secondary m-0 px-3 py-2">
            <div class="input-group no-border">
              <input type="text" value="" placeholder="Search..." class="form-control"> 
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card border border-top-0 border-right-0 border-secondary m-0 px-3 py-2" v-bind:key="'contact_item_'+index" v-for="(contact_item,index) in contact_list">
            <h4>{{contact_item.name}}</h4>
          </div>
        </div>
      </div>
      <div class="chat-box flex-fill">
        <div class="d-flex flex-column h-100">
          <div class="chat-header card border border-secondary m-0 px-3 py-2">
            <div class="d-flex-left-align-center h-100">
              <i class="now-ui-icons users_single-02"></i>
              <div class="ml-2 mr-auto">{{chat_target_name}}</div>
              <i class="fa fa-phone"></i>
              <i class="fa fa-ellipsis-h ml-2 "></i>
            </div>
          </div>
          <div class="chat-display flex-fill">
            
          </div>
          <div class="chat-input-wrapper card border border-secondary m-0 px-3 py-2">
            <div class="d-flex-left-align-center">
              <div class="input-group m-0 no-border">
                <input type="text" value="" placeholder="Type something here..." class="form-control"> 
              </div>
              <i class="fa fa-arrow-right ml-3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Communication',
  data () {
    return {
      contact_list: [
        {
          name:"Mr. asdas"
        },
        {
          name:"Mr. ferf"
        }
      ],
      chat_target_name: "Rangsee",
    }
  }
}
</script>
