<template>
  <div class="container-fluid display">
    <div class="row">
        <router-link v-if="$route.name == 'Display_1'" :to="{ name: 'ReQueue'}"><a :href="'/requeue'"><button type="button" class="btn btn-info float-right ml-3"><h7 class="my-0">Back to Queue</h7></button></a></router-link>
    </div>
    <div class="row">
        <div class="col-3">
            <div id="oddrow" class="border border-info rounded text-white pt-3 ">
                <h2 class="text-center">ช่องวัดสัญญาณชีพที่</h2>
            </div>
        </div>
        <div class="col-4">
            <div id="oddrow" class="border border-info rounded  text-white pt-3 ">
                <h2 class="text-center">หมายเลขคิวกำลังวัดชีพจร</h2>
            </div>
        </div>
        <div class="col-5">
            <div id="oddrow" class="border border-info rounded  text-white pt-3 ">
                <h2 class="text-center">หมายเลขคิวกำลังรอวัดชีพจร</h2>
            </div>
        </div>
    </div>
    <template v-for="(queue_type,queue_type_index) in queue_type_list">
        <div class="row py-2" id="oddrow" v-if="queue_type.subprocessName == 'วัดสัญญาณชีพ'" :key="queue_type_index+'_'+renderkey" :class="(queue_type_index%2)?'bg-info':'oddrow'">
            <div class="col-3">
                <div class="display-queue-text w-50 h-100 font-weight-bold text-center m-auto border border-warning rounded bg-warning text-white p-3">
                    {{queue_type.name.replace("OPD ","")}}
                </div>
            </div>
            <div class="col-4">
                <template
                    v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Meeting']"
                >
                    <div
                        v-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id"
                        :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Meeting'].length"
                        class="display-queue-text d-inline-block h-100 font-weight-bold border border-warning rounded bg-warning text-white p-3"
                    >
                    {{queue_item.queueNo}}
                    </div>
                    <template>
                        {{ }}
                    </template>
                </template>
                
            </div>
            <div class="col-5">
                <template
                    v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Calling']"
                >
                    <div
                        v-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id"
                        :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Calling'].length"
                        class="display-queue-text d-inline-block h-100 font-weight-bold border border-warning rounded bg-warning text-white py-3 px-4"
                    >
                        {{queue_item.queueNo}}
                    </div>
                   <template>
                        {{ }}
                    </template>
                </template>
                <template
                    v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Waiting']"
                >
                    <div
                        v-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id"
                        :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Waiting'].length"
                        class="display-queue-text d-inline-block h-100 font-weight-bold border border-warning rounded bg-warning text-white py-3 px-4"
                    >   
                        {{queue_item.queueNo}}
                    </div>
                    <template>
                        {{ }}
                    </template>
                </template>
            </div>
        </div>
    </template>
  </div>  
</template>

<style>

.row{
    background-color:#CAFFF7;
}
.room_info{
    background-color: white;
}

.topic_queue_info{
    background-color: white;
}

.queue_info{
    background-color: white;
}

.waiting_queue{
    background-color: white;
}
.display-queue-text{
    font-size:18px;
}

#oddrow{
    background-color: #4B4CF6;
}
#evenrow{
    background-color: #008FFF;
}

</style>

<script>
import service from "@/modules/service";

export default{
    name: "Display_1",
    data() {
        return {
            renderkey: 0,
            queue_type_list: [],
            queue: {},
            selected_queue_id: -1,
            token: ""
        }
    },
    methods: {
    loadQueue() {
      var self = this;
      service.getQueueTypeList().then(function(data) {
        self.queue_type_list = data;
  
        var json1 = JSON.stringify(self.queue_type_list);
        console.log("queue_type: "+ json1);
        service.getQueueList().then(function(data2) {
          var queues = data2;
          var json = JSON.stringify(queues);
          console.log("Queues:"+ json);
          self.queue = {};
          for (var i = 0; i < self.queue_type_list.length; i++) {
           if (!self.queue[self.queue_type_list[i].queueTypeId]) {
              self.queue[self.queue_type_list[i].queueTypeId] = {};
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Waiting"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Waiting"] = [];
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Meeting"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Meeting"] = [];
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Delayed"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Delayed"] = [];
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Calling"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Calling"] = [];
            }
          }
          for (var i = 0; i < queues.length; i++) {
            if (!self.queue[queues[i].queueTypeId]) {
              self.queue[queues[i].queueTypeId] = {};
            }
            if (
              !self.queue[queues[i].queueTypeId][queues[i].queue_status_name]
            ) {
              self.queue[queues[i].queueTypeId][
                queues[i].queue_status_name
              ] = [];
            }
            self.queue[queues[i].queueTypeId][
              queues[i].queue_status_name
            ].push(queues[i]);
          }

          self.$nextTick(function() {
            console.log(self.queue);
            self.renderkey++;
          });
        });
      });
    }
    },
    mounted(){
        this.loadQueue();
        setInterval(this.loadQueue, 10000);
    }
}
</script>