<!--<template>

  <div class="Export">
    <div class="content">
      <h4 class="card-title">Export</h4>
      <a href="" id="a"></a>
<div>
    <b-form-select v-model="selected" class="choose" :options="options"></b-form-select>
    <div class="choose">Selected: <strong>{{ selected }}</strong></div>
    <br>
  </div>
      <button @click="downloadfile">Export file</button>
    </div>
  </div>

</template>

<script>
import service from "@/modules/service";
import { VueContext } from "vue-context";

export default {
  name: 'Export',
  data () {
    return {
    selected: null,
    options: [
          { value: null, text: 'Please select an option' },
          { value: 'Appointment', text: 'Appointment' },
          { value: 'Queue', text: 'Queue' },
          { value: 'Patient', text: 'Patient'}
        ]
    }
  },
  method: {
      downloadfile: function(){
           var json = JSON.stringify(text);
              var file = new Blob([json], {type: type});
            //var a = document.getElementById("a");
              a.href = URL.createObjectURL(file);
              a.download = name;
             a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0);
      }
  }
  }
</script>
-->
<template>
  <div class="content">
  <div class="Export">
    <div class="content_import import-bg">
        <h1 class="card-title">Import</h1>
    <br>
    <div class="preview mt-3">
        Preview of the chosen file:
    </div>
    <br>
    <table class="w-100">
      <tr>
        <td class="border border-dark" :key="example_file_value" v-for="(example_file_value) in example_file">
          {{example_file_value}}
        </td>
      </tr>
    </table>
    <br>
    <b-form-file class="input_import" ref="file-input" accept="application/json" id="file" v-model="file" :state="Boolean(file)" placeholder="Choose a file..." drop-placeholder="Drop file here..."></b-form-file>
    <br>
    <br>
    <button class="btn btn-info" @click="importFile(file)">Import file</button>
    </div>
    <br>
    <div class="content_export import-bg">
      <h1 class="card-title">Export</h1>
      <b-form-select v-model="selected" :options="options"></b-form-select>
    <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
    <br>
    <button class="btn btn-info" @click="forceFileDownload(selected)">Export file</button>
    </div>
  </div>
  </div>
</template>

<style>

.import-bg {
  background-color: white;
}
.main-bg{
  background-color: #CAFFF7;
}

</style>

<script>
import service from "@/modules/service";
import { VueContext } from "vue-context";

export default {
  data() {
    return {
      appointment_list: [],
      file: '',
      appointment: {},
      selected: null,
      options: [
        { value: null, text: 'Please select an option' },
        { value: 'Appointment', text: 'Appointment' },
        { value: 'Queue', text: 'Queue' },
        { value: 'Patient', text: 'Patient'}
      ],
      selected_import: null,
      options_import: [
          { value: null, text: 'Please select the file to import'},
          { value: 'Appointment', text: 'Appointment'},
          { value: 'Employee', text: 'Employee'},
          { value: 'Patient', text: 'Patient'}
      ],
      example_file:[]
    }
  },
  methods: {
    forceFileDownload(response){
      //console.log(response);
      if(response == 'Appointment'){
        service.getAppointmentList().then(function(temp){
         console.log(temp);
         var json = JSON.stringify(temp);
          const bolb = new Blob([json], {type: 'application/json'});
          console.log(bolb);
          const url = window.URL.createObjectURL(bolb);
          const link = document.createElement('a');
         // console.log(temp);
          link.href = url;
          link.setAttribute('download', 'appointment.json'); //or any other extension
          document.body.appendChild(link);
          link.click();

        })
      }
      else if(response == 'Queue'){
        service.getQueueList().then(function(temp){
         console.log(temp);
         var json = JSON.stringify(temp);
          const bolb = new Blob([json], {type: 'application/json'});
          console.log(bolb);
          const url = window.URL.createObjectURL(bolb);
          const link = document.createElement('a');
         // console.log(temp);
          link.href = url;
          link.setAttribute('download', 'queues.json'); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
      }
      else if(response == 'Patient'){
        service.getPatientList().then(function(temp){
         console.log(temp);
         var json = JSON.stringify(temp);
          const bolb = new Blob([json], {type: 'application/json'});
          console.log(bolb);
          const url = window.URL.createObjectURL(bolb);
          const link = document.createElement('a');
         // console.log(temp);
          link.href = url;
          link.setAttribute('download', 'patient.json'); //or any other extension
          document.body.appendChild(link);
          link.click();
          })
      }
    },
    importFile(file){
        // var self = this;
        // self.file = self.$refs['file-input'];
        // console.log(self.file);
        service.IOread(file).then(function(){

        });
        console.log(file);
         // console.log(file['name']);
    },
    fileOnChange(){
      // this.readTextFile("/Users/Documents/workspace/test.json", function(text){
      //   var data = JSON.parse(text);
      //   console.log(data);
      // });
      var self = this;
      var reader = new FileReader();
      self.example_file = [];

      reader.onload = function(event){
        var obj = JSON.parse(event.target.result);
        $.each(obj[0],function(index,value){
          console.log(index);
          self.example_file.push(index);
        });
      };
      reader.readAsText($('#file')[0].files[0]);
    }
  },
  mounted(){
    var self = this;
    $('#file').on('change', function(){
      self.fileOnChange();
    });
  }
}
</script>
