<!--<template>
  <div class="queue">
    <div class="content">
      <h2 class="card-title">Workflow Settings</h2>
      <b-container id="main" class="bv-example-row">
          <b-row id="menu_workflow">
            <b-col sm="3">
            <b-button-group vertical>
             <b-button id="edit" class="btn btn-lg">Edit Workflow</b-button>
             <b-button id="saveset" class="btn btn-lg">Save Settings</b-button>
             <b-button id="reset" class="btn btn-lg">Restore Default</b-button>
            </b-button-group>
            </b-col>
            <b-col class="btn-group-vertical">
              <button type="button" id="edit" class="btn btn-lg">Edit Workflow</button>
              <button type="button" id="saveset" class="btn btn-lg">Save Settings</button>
              <button type="button" id="reset" class="btn btn-lg">Restore Default</button>
            </b-col>
            <b-col sm="7">
            <b-card id="cur_work" text-variant="black" header="Current Workflow" class="text-center">
                <b-card-body id="cur_work_body">
                </b-card-body>
            </b-card>  
            </b-col>  
            <b-col sm="2">
            </b-col>  
          </b-row>                      
          </b-container>                         
      </div>
  </div>
</template>


<script>
export default {
  name: 'Setting',
  data () {
    return {
      queue_list: [
        {
          queue_no: 1,
          name: "die",
          queue_left: 0,
          status: "alive"
        },
        {
          queue_no: 2,
          name: "alive",
          queue_left: 1,
          status: "die"
        }
      ]
    }
  }
}
-->
<template>
  <div class="workflow" v-drag-and-drop:options="options">
    <div class="content">
      <h2>Workflow Settings</h2>
      <b-container id="main">
      <b-row id="menu_workflow">  
      <b-col sm="2">
            <b-button-group vertical>
             <b-button @click="edit()" id="edit" class="btn btn-lg">Edit Workflow</b-button>
             <b-button id="saveset" class="btn btn-lg">Save Settings</b-button>
             <b-button id="reset" class="btn btn-lg">Restore Default</b-button>
            </b-button-group>
      </b-col>
      <b-col sm="6">        
          <ul class="drag-list">
      <li class="drag-column" v-for="group in groups" :key="group.id">
        <span class="drag-column-header">
          <h2>{{ group.name }}</h2>
        </span>
        <ul class="drag-inner-list" :data-id="group.id">
          <li
            class="drag-item"
            v-for="(item,index) in filteredItems(group.id)"
            :key="item.id"
            :data-id="index"
          >
            <div class="drag-item-text">{{ item.name }}</div>
          </li>
        </ul>
      </li>
    </ul>
      </b-col>
      <b-col sm="2">
      </b-col>  
      </b-row>
      </b-container>  
  </div>
  </div>
</template>

<script>
export default {
  data() {
    const DragItemsWithGroupId = this.DragItemsWithGroupId;
    var self = this;
    return {
      
      groups: [
        { id: 1, name: "Current Workflow" }
      ],
      items: [
        { id: 1, name: "วัดสัญญาณชีพ", groupId: 1 },
        { id: 2, name: "เจาะเลือด", groupId: 1 },
        { id: 3, name: "พบแพทย์", groupId: 1 },
        { id: 4, name: "จ่ายเงิน", groupId:1 },
        { id: 5, name: "รับยา", groupId: 1 }
      ],
      options: {
        dropzoneSelector: ".drag-inner-list",
        draggableSelector: ".drag-item",
        onDrop(e) {

          // console.log(e);
          // const targetGroupId = parseInt(e.droptarget.dataset.id);
          const itemIds = e.items.map(item => parseInt(item.dataset.id));
          // console.log(targetGroupId +"  " + itemIds);

          var dropzone_element = $(".item-dropzone-area");
          if(dropzone_element.length && dropzone_element.prev().length){
            self.items = self.array_move(self.items, itemIds, dropzone_element.prev().attr("data-id"));
          }
        }
      }
    };
  },
  computed: {
    filteredItems() {
      return groupId => this.items.filter(item => item.groupId === groupId);
    }
  },
  methods: {
    edit: function(){
      this.edit = true;
    },
    
    DragItemsWithGroupId(itemsIds, groupId) {
      this.items
        .filter(item => itemsIds.indexOf(item.id) >= 0)
        .forEach(item => {
          item.groupId = groupId;
        });
    },
    array_move(arr, old_index, new_index) {
        if (new_index >= arr.length) {
            var k = new_index - arr.length + 1;
            while (k--) {
                arr.push(undefined);
            }
        }
        arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
        return arr; // for testing
    }
  }
};
</script>

<style lang="scss">
$ease-out: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
$drag: #f4ce46;

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0; 
}
.drag-list {
  display: flex;
  align-items: flex-start;

  @media (max-width: 690px) {
    display: block;
  }
}

.drag-column {
  flex: 1;
  background: #1488CC;
  overflow: hidden;
  border-radius: 25px;

  @media (max-width: 690px) {
    margin-bottom: 30px;
  }

  h2 {
    padding-left: 4.5em;
    font-size: 1.8rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
  }

  &-drag {
    .drag-column-header,
    .drag-options {
      background: $drag;
    }
  }

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
}

.drag-inner-list {
  height: 60vh;
  overflow: auto;
  text-align: center;
}

.drag-item {
  margin: 10px;
  height: 5em;
  background:#FFDDE1;
  transition: $ease-out;

  /* items grabbed state */
  &[aria-grabbed="true"] {
    background: #E89AA4;
    color: #fff;
  }

  .drag-item-text {
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
  }
}

.drag-header-more {
  cursor: pointer;
}

@keyframes nodeInserted {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.8;
  }
}

.item-dropzone-area {
  height: 5em;
  background: pink;
  opacity: 0.8;
  animation-duration: 0.5s;
  animation-name: nodeInserted;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
}
</style>
<!--
<template>
  <div class="drag-container" v-drag-and-drop:options="options">
    <ul class="drag-list">
      <li class="drag-column" v-for="group in groups" :key="group.id">
        <span class="drag-column-header">
          <h2>{{ group.name }}</h2>
          <feather-icon type="more-vertical"></feather-icon>
        </span>

        <ul class="drag-inner-list" :data-id="group.id">
          <li
            class="drag-item"
            v-for="item in filteredItems(group.id)"
            :key="item.id"
            :data-id="item.id"
          >
            <div class="drag-item-text">{{ item.name }}</div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
-->
