<template>
  <div class="queue">
    <div class="content">
      <div class="card">
        <div class="d-flex justify-content-around">
          <button @click="tab1()" type="button" class="btn my-4 float-right" :class="(tab == 1)?'btn-success':'btn-primary'">Queue</button>
          <!-- <button @click="tab2()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 2)?'btn-success':'btn-primary'">Today's Appointment</button> -->
          <button @click="tab3()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 3)?'btn-success':'btn-primary'">Missing Queue</button>
        </div>
        
      </div>
      <template v-if="tab == 1">
        <div class="d-flex justify-content-around">
          <button @click="tab_selectQueueType(-1)" type="button" class="btn my-4 float-right" :class="(tab_show_queue_type_index == -1)?'btn-success':'btn-primary'">All</button>
          <template v-for="(queue_type,queue_type_index) in queue_type_list">
            <button :key="'tab_queuetype_'+queue_type_index" @click="tab_selectQueueType(queue_type_index)" type="button" class="btn my-4 float-right" :class="(tab_show_queue_type_index == queue_type_index)?'btn-success':'btn-primary'">{{queue_type.name}}</button>
          </template>
        </div>
        <!-- <button @click="loadQueueList()" type="button" class="btn btn-primary m-2 mb-5">Refresh All Queue</button> -->
        <div :key="renderKey+''+queue_type_index" v-for="(queue_type,queue_type_index) in tab_show_queue_type">
          <h2 :key="queue_type.name+''+tab_show_queue_type.length" class="card-title">{{queue_type.name}}</h2>
          <div v-if="meeting_queues_lists[queue_type.name] && meeting_queues_lists[queue_type.name].length" :key="queue_type_index+'_'+renderKey" class="card">
            <button @click="loadQueue(queue_type_index,true)" type="button" class="btn btn-primary mr-4 mt-4 float-right">Refresh</button>
            <h4 :key="'queue_meeting_'+queue_type.name+''+tab_show_queue_type.length" class="card-title text-success text-center ml-5 mt-4">กำลังตรวจ</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th class="text-center">
                      Queue No.
                    </th>
                    <th class="text-center">
                      Name
                    </th>
                    <th class="text-center">
                      Queue Status
                    </th>
                    <th class="text-center">
                      Flow Type
                    </th>
                    <th class="text-center">
                      Place
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :key="queue_type.name+'_'+index+'_render_'+renderKey"  v-for="(queue_item,index) in meeting_queues_lists[queue_type.name]">
                    <td class="text-center">
                      {{queue_item.queueNo}}
                    </td>
                    <td class="text-center">
                      {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                    </td>
                    <td class="text-center">
                      {{queue_item.queue_status_name}}
                    </td>
                    <td class="text-center">
                      {{queue_item.workflow_name}}
                    </td>
                    <td class="text-center">
                      {{queue_item.place_name}}
                    </td>
                    <td class="text-center">
                      <button  @click="toNextQueueType(queue_item.id,queue_type_index)" type="button" class="btn btn-success m-2">ตรวจเสร็จแล้ว</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div :key="queue_type.name+'_content_renderKey_'+renderKey" class="card">
            <button @click="loadQueue(queue_type_index,false)" type="button" class="btn btn-primary mr-4 mt-4 float-right">Refresh</button>
            <h4 :key="queue_type.name" class="card-title text-info text-center ml-5 mt-4">กำลังเข้าคิว</h4>
            <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th class="text-center">
                        Queue No.
                      </th>
                      <th class="text-center">
                        Name
                      </th>
                      <th class="text-center">
                        Queue Status
                      </th>
                      <th class="text-center">
                        Amount of queue left
                      </th>
                      <th class="text-center">
                        Flow Type
                      </th>
                      <th class="text-center">
                        Place
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{queue_type.name}}
                    <tr :key="queue_type.name+'_'+index+'_render'+renderKey"  v-for="(queue_item,index) in queues_lists[queue_type.name]">
                      <td class="text-center">
                        {{queue_item.queueNo}}
                      </td>
                      <td class="text-center">
                        {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                      </td>
                      <td class="text-center">
                        {{queue_item.queue_status_name}}
                      </td>
                      <td class="text-center">
                        {{index}}
                      </td>
                      <td class="text-center">
                        {{queue_item.workflow_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.place_name}}
                      </td>
                      <td class="text-center">
                        <button v-if="index == 0" @click="meetingQueue(queue_item.id,queue_type_index)" type="button" class="btn btn-success m-2">ถึงคิวแล้ว</button>
                        <button v-if="index == 0" @click="missingQueue(queue_item.id,queue_type_index)" type="button" class="btn btn-warning m-2">เจ้าของคิวไม่มา</button>
                        <button type="button" @click="cancelQueue(queue_item.id,queue_type_index)" class="btn btn-danger m-2">ยกเลิก</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div :key="queue_type.name+'_content_renderKey_'+renderKey" class="card">
            <button @click="loadQueue(queue_type_index,false)" type="button" class="btn btn-primary mr-4 mt-4 float-right">Refresh</button>
            <h4 :key="queue_type.name" class="card-title text-info text-center ml-5 mt-4">กำลังเข้าคิว</h4>
            <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th class="text-center">
                        Queue No.
                      </th>
                      <th class="text-center">
                        Name
                      </th>
                      <th class="text-center">
                        Queue Status
                      </th>
                      <th class="text-center">
                        Amount of queue left
                      </th>
                      <th class="text-center">
                        Flow Type
                      </th>
                      <th class="text-center">
                        Place
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{queue_type.name}}
                    <tr :key="queue_type.name+'_'+index+'_render'+renderKey"  v-for="(queue_item,index) in queues_lists[queue_type.name]">
                      <td class="text-center">
                        {{queue_item.queueNo}}
                      </td>
                      <td class="text-center">
                        {{queue_item.patients_firstname}} {{queue_item.patients_surname}}
                      </td>
                      <td class="text-center">
                        {{queue_item.queue_status_name}}
                      </td>
                      <td class="text-center">
                        {{index}}
                      </td>
                      <td class="text-center">
                        {{queue_item.workflow_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.place_name}}
                      </td>
                      <td class="text-center">
                        <button v-if="index == 0" @click="meetingQueue(queue_item.id,queue_type_index)" type="button" class="btn btn-success m-2">ถึงคิวแล้ว</button>
                        <button v-if="index == 0" @click="missingQueue(queue_item.id,queue_type_index)" type="button" class="btn btn-warning m-2">เจ้าของคิวไม่มา</button>
                        <button type="button" @click="cancelQueue(queue_item.id,queue_type_index)" class="btn btn-danger m-2">ยกเลิก</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </template>
      <template v-if="tab == 2">
        <button @click="loadAppointmentList()" type="button" class="btn btn-primary m-2 mb-5">Refresh</button>
        <h2 class="card-title">Appointment List</h2>  
        <div class="card">
          <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th class="text-center">
                      Patient
                    </th>
                    <th class="text-center">
                      Doctor
                    </th>
                    <th class="text-center">
                      Date
                    </th>
                    <th class="text-center">
                      Time
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :key="'apoointment_'+appointment.id+'_'+index+'_'+renderKey"  v-for="(appointment,index) in appointment_lists">
                    <td class="text-center">
                      {{appointment.patients_firstname}} {{appointment.patients_surname}}
                    </td>
                    <td class="text-center">
                      {{appointment.doctor_firstname}} {{appointment.doctor_surname}}
                    </td>
                    <td class="text-center">
                      {{appointment.date}}
                    </td>
                    <td class="text-center">
                      {{appointment.timeslot_starttime}} - {{appointment.timeslot_endtime}}
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn btn-danger m-2">ยกเลิก</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </template>

      <template v-if="tab == 3">
        <div class="d-flex justify-content-around">
          <button @click="tab_missingselectQueueType(-1)" type="button" class="btn my-4 float-right" :class="(tab_show_queue_type_index == -1)?'btn-success':'btn-primary'">All</button>
          <template v-for="(queue_type,queue_type_index) in queue_type_list">
            <button :key="'tab_queuetype_'+queue_type_index" @click="tab_missingselectQueueType(queue_type_index)" type="button" class="btn my-4 float-right" :class="(tab_show_queue_type_index == queue_type_index)?'btn-success':'btn-primary'">{{queue_type.name}}</button>
          </template>
        </div>
        <!-- <button @click="loadMissingQueueList()" type="button" class="btn btn-primary m-2 mb-5">Refresh</button> -->
        <template v-for="(queue_type,queue_type_index) in tab_show_queue_type">
          <h2 :key="queue_type.name" class="card-title">
            {{queue_type.name}}
          </h2>
          <div :key="queue_type.name+'_content_missing_queue_'+renderKey" class="card">
            <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th class="text-center">
                        Queue No.
                      </th>
                      <th class="text-center">
                        Name
                      </th>
                      <th class="text-center">
                        Queue Status
                      </th>
                      <th class="text-center">
                        Flow Type
                      </th>
                      <th class="text-center">
                        Place
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr :key="queue_type.name+'_'+index+'_render'+renderKey"  v-for="(queue_item,index) in missing_queues_lists[queue_type.name]">
                      <td class="text-center">
                        {{queue_item.queueNo}}
                      </td>
                      <td class="text-center">
                        {{queue_item.patients_firstname}} {{queue_item.patients_surname}} 
                      </td>
                      <td class="text-center">
                        {{queue_item.queue_status_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.workflow_name}}
                      </td>
                      <td class="text-center">
                        {{queue_item.place_name}}
                      </td>
                      <td class="text-center">
                        <button type="button" @click="waitingQueue(queue_item.id,queue_type_index)" class="btn btn-success m-2">กลับสู่คิว</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>
<script>
import service from "@/modules/service";
export default {
  name: 'Queue',
  data () {
    return {
      tab:1,
      renderKey: 0,
      queue_type_list: [],
      tab_show_queue_type_index:0,
      tab_show_queue_type: [],
      queue_status_list: [],
      meeting_queues_lists: {},
      queues_lists: {},
      missing_queues_lists: {},
      appointment_lists: [],
      calling_queues_lists: {}
    }
  },
  methods:{
    tab1: function(){
      var self = this;
      this.tab = 1;
      this.tab_selectQueueType(0);
    },
    tab2: function(){
      var self = this;
      this.tab = 2;
      this.loadAppointmentList().then(function(){
        self.renderKey++;
      });
    },
    tab3: function(){
      var self = this;
      this.tab = 3;
      this.tab_missingselectQueueType(0);
    },
    loadQueueList: async function(){
      var self = this;
      this.$utils.loaderOn();
      this.queue_type_list = await service.getQueueTypeList();
      if(this.tab_show_queue_type == []){
        this.tab_show_queue_type = this.queue_type_list;
      }
      this.queue_status_list = await service.getQueueStatusList();

      for(var i = 0 ; i < this.queue_type_list.length ; i++){
          var queue_type = this.queue_type_list[i];

          var queues = await service.getQueueList( queue_type.id , 1 );
          if(queues != "queues not found"){
            self.queues_lists[queue_type.name] = queues;
          }
          else{
            self.queues_lists[queue_type.name] = [];
          }
          
          var meeting_queues = await service.getQueueList( queue_type.id , 2 );
          if(meeting_queues != "queues not found"){
            self.meeting_queues_lists[queue_type.name] = meeting_queues;
          }
          else{
            self.meeting_queues_lists[queue_type.name] = [];
          }
      }
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    loadQueueListById: async function(queue_type_id){
      var self = this;
      this.$utils.loaderOn();
      this.queue_type_list = await service.getQueueTypeList();
      if(this.tab_show_queue_type == []){
        this.tab_show_queue_type = this.queue_type_list;
      }
      this.queue_status_list = await service.getQueueStatusList();

      var queues = await service.getQueueList( queue_type_id , 1 );
      console.log(this.queue_type_list)
      console.log(self.queues_lists);
      console.log(self.$route.params.queueTitle);
      
      if(queues != "queues not found"){
        self.queues_lists[self.$route.params.queueTitle] = queues;
      }
      else{
        self.queues_lists[self.$route.params.queueTitle] = [];
      }
      
      var meeting_queues = await service.getQueueList( queue_type_id, 2 );
      if(meeting_queues != "queues not found"){
        self.meeting_queues_lists[self.$route.params.queueTitle] = meeting_queues;
      }
      else{
        self.meeting_queues_lists[self.$route.params.queueTitle] = [];
      }
      console.log(self.queues_lists[self.$route.params.queueTitle] );

      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    loadQueue: async function(queue_type_index,meeting_or_queue){

      var self = this;
      this.$utils.loaderOn();
      if(this.queue_type_list.length == 0){
        this.queue_type_list = await service.getQueueTypeList();
      }
      
      var queue_type = this.queue_type_list[queue_type_index];

      if(!meeting_or_queue){//queue
        var queues = await service.getQueueList( queue_type.id , 1 );
        if(queues != "queues not found"){
          self.queues_lists[queue_type.name] = queues;
        }
        else{
          self.queues_lists[queue_type.name] = [];
        }

        var queues = await service.getQueueList( queue_type.id ,3 );
        if(queues != "queues not found"){
          self.missing_queues_lists[queue_type.name] = queues;
        }
        else{
          self.missing_queues_lists[queue_type.name] = [];
        }
      }
      else{//meeting
          var meeting_queues = await service.getQueueList( queue_type.id , 2 );
          if(meeting_queues != "queues not found"){
            self.meeting_queues_lists[queue_type.name] = meeting_queues;
          }
          else{
            self.meeting_queues_lists[queue_type.name] = [];
          }
      }

      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    waitingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 1 ).then(function(result){
        self.loadQueue(queue_type_index,false).then(function(){
          self.loadQueue(queue_type_index,true).then(function(){
            swal("เรียบร้อยแล้ว");
          });
        });
      });
    },
    meetingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 2 ).then(function(result){
        self.loadQueue(queue_type_index,false).then(function(){
          self.loadQueue(queue_type_index,true).then(function(){
            swal("เรียบร้อยแล้ว");
          });
        });
      });
    },
    missingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 3 ).then(function(result){
        self.loadQueue(queue_type_index,false).then(function(){
          swal("เรียบร้อยแล้ว");
        });
      });
    },
    cancelQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 4 ).then(function(result){
        self.loadQueue(queue_type_index,false).then(function(){
          swal("เรียบร้อยแล้ว");
        });
      });
    },
    finishQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 5 ).then(function(result){

        self.loadQueue(queue_type_index,true).then(function(){
          swal("เรียบร้อยแล้ว");
        });
      });
    },
    callQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 8 ).then(function(result){

        self.loadQueue(queue_type_index,true).then(function(){
          swal("เรียบร้อยแล้ว");
        });
      });
    },
    loadAppointmentList: async function(){
      var self = this;
      this.$utils.loaderOn();

      var appointmentlist = await service.getAppointmentList();
      if(appointmentlist != "appointment not found"){
        self.appointment_lists = appointmentlist;
      }
      else{
        self.appointment_lists = [];
      }

      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    loadMissingQueueList: async function(){
      var self = this;
      this.$utils.loaderOn();
      this.queue_type_list = await service.getQueueTypeList();
      this.queue_status_list = await service.getQueueStatusList();

      for(var i = 0 ; i < this.queue_type_list.length ; i++){
          var queue_type = this.queue_type_list[i];

          var queues = await service.getQueueList( queue_type.id , 3 );
          if(queues != "queues not found"){
            self.missing_queues_lists[queue_type.name] = queues;
          }
          else{
            self.missing_queues_lists[queue_type.name] = [];
          }

      }
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
    },
    toNextQueueType: function(queue_id,queue_type_index){
      var self = this;
      
      service.toNextQueueType( queue_id).then(function(result){
        self.loadQueueList().then(function(){
          swal("เรียบร้อยแล้ว");
        });
      });
    },
    tab_selectQueueType: function(queue_type_index){
      var self = this;
      
      if(queue_type_index == -1){
        this.loadQueueList().then(function(){
          self.tab_show_queue_type = self.queue_type_list;
          self.renderKey++;
        });
      }
      else{
        self.loadQueue(queue_type_index,true).then(function(){
          self.loadQueue(queue_type_index,false).then(function(){
            self.tab_show_queue_type = {};
            self.tab_show_queue_type[queue_type_index] = self.queue_type_list[queue_type_index];
          });
        });
      }
      this.tab_show_queue_type_index = queue_type_index;
      console.log(this.tab_show_queue_type);
    },
    tab_missingselectQueueType: function(queue_type_index){
      var self = this;
      
      if(queue_type_index == -1){
        this.loadMissingQueueList().then(function(){
          self.tab_show_queue_type = self.queue_type_list;
          self.renderKey++;
        });
      }
      else{
        self.loadQueue(queue_type_index,true).then(function(){
          self.loadQueue(queue_type_index,false).then(function(){
            self.tab_show_queue_type = {};
            self.tab_show_queue_type[queue_type_index] = self.queue_type_list[queue_type_index];
          });
        });
      }
      this.tab_show_queue_type_index = queue_type_index;
      console.log(this.tab_show_queue_type);
    }
  },
  async mounted(){
    await this.loadQueueListById(this.$route.params.queueId);
    for(var i = 0 ; i < this.queue_type_list.length ; i++){
      if(this.queue_type_list[i].id == this.$route.params.queueId){
        self.tab_show_queue_type = {};
        self.tab_show_queue_type[i] = this.queue_type_list[i];
        this.tab_show_queue_type_index = i;
      }
    }
    
    // console.log(this.$route.params.queueId);
    // this.$route.meta.title = this.$route.params.queueId;
    // this.tab1();
  }
}
</script>
