<template>
  <div class="recommend" v-drag-and-drop:options="options">
    <div class="content">
      <h2>Recommend Settings</h2>
        <b-container id="main_form">
            <b-form-group
      label-cols-lg="3"
      label="Insert a place that you want to recommend"
      label-size="lg"
      label-class="font-weight-bold pt-0"
      class="mb-0"
    >
      <b-form-group
        label-cols-sm="3"
        label="Place Name:"
        label-align-sm="right"
        label-for="nestedPlaceName"
      >
        <b-form-input id="nestedStreet" />
      </b-form-group>

      <b-form-group label-cols-sm="3" label="ActivityName:" label-align-sm="right" label-for="nestedActivityName">
        <b-form-input id="nestedActivityName" />
      </b-form-group>

      <b-form-group label-cols-sm="3" label="Description:" label-align-sm="right" label-for="nestedDescription">
        <b-form-input id="nestedDescription" />
      </b-form-group>
      <b-form-group
        label-cols-sm="3"
        label="Type of place:"
        label-align-sm="right"
        label-for="nestedType"
      >
      <b-form-input id="nestedType" />
      </b-form-group>
      
    </b-form-group>
  </b-container>
      </div>
      </div>  
</template>      
<script>
  export default {
    data() {
      return {
        types: [
          'Place Name',
          'Activity Name',
          'Description',
          'Type',
          'Image'
        ]
      }
    }
  }
</script>
