<template>
  <div class="queue">
    <vue-context ref="meetingmenu">
      <ul slot-scope="child">
        <li @click="toNextQueueType(child.data.queue_id)">ถัดไป</li>
        <li @click="missingQueue(child.data.queue_id)">คิวหาย</li>
        <li @click="cancelQueue(child.data.queue_id)">ลบคิว</li>
      </ul>
    </vue-context>
    <vue-context ref="callingmenu">
      <ul slot-scope="child">
        <li @click="meetingQueue(child.data.queue_id)">ถัดไป</li>
        <li @click="missingQueue(child.data.queue_id)">คิวหาย</li>
        <li @click="cancelQueue(child.data.queue_id)">ลบคิว</li>
      </ul>
    </vue-context>
    <vue-context ref="waitingmenu">
      <ul slot-scope="child">
        <li @click="callQueue(child.data.queue_id)">ถัดไป</li>
        <li @click="missingQueue(child.data.queue_id)">คิวหาย</li>
        <li @click="cancelQueue(child.data.queue_id)">ลบคิว</li>
      </ul>
    </vue-context>
    <vue-context ref="missingmenu">
      <ul slot-scope="child">
        <li @click="waitingQueue(child.data.queue_id)">เข้าคิว</li>
        <li @click="cancelQueue(child.data.queue_id)">ลบคิว</li>
      </ul>
    </vue-context>
    <div class="content text-center main-bg" style="max-height: calc(100vh - 82px);overflow: auto;">
      <div class="card-row">
        <div class="mr-3" :key="queue_type_index" v-for="(queue_type,queue_type_index) in queue_type_list">
          <div class="card" style="min-width: 145px;">

            <table v-if="queue_type.subprocessName == 'พบแพทย์'" class="card-header">
              <tr class="text-center">{{queue_type.name}} <router-link :to="{ name: 'QueueDetail', params: { queueId: queue_type.queueTypeId , queueTitle: queue_type.subprocessName }}"><a :href="'queue/'+queue_type.id+'/'+queue_type.name" class="add_button float-right text-info font-weight-bold">  +</a></router-link></tr>
            </table>
            <table v-else-if="queue_type.subprocessName == 'ชำระเงิน'" class="card-header">
              <tr class="text-center">{{queue_type.name}} <router-link :to="{ name: 'QueueDetail', params: { queueId: queue_type.queueTypeId , queueTitle: queue_type.subprocessName }}"><a :href="'queue/'+queue_type.id+'/'+queue_type.name" class="add_button float-right text-info font-weight-bold">  +</a></router-link></tr>
            </table>
            <table v-else-if="queue_type.subprocessName == 'รับยา'" class="card-header">
              <tr class="text-center">{{queue_type.name}} <router-link :to="{ name: 'QueueDetail', params: { queueId: queue_type.queueTypeId , queueTitle: queue_type.subprocessName }}"><a :href="'queue/'+queue_type.id+'/'+queue_type.name" class="add_button float-right text-info font-weight-bold">  +</a></router-link></tr>
            </table>
            <table v-else class="card-header">  
              <tr class="text-center">{{queue_type.subprocessName}} <router-link :to="{ name: 'QueueDetail', params: { queueId: queue_type.queueTypeId , queueTitle: queue_type.subprocessName }}"><a :href="'queue/'+queue_type.id+'/'+queue_type.name" class="add_button float-right text-info font-weight-bold">  +</a></router-link></tr>
            </table>
            <hr>
            <div class="card-body yellowgreen-bg card-h">
              <b class="white-text">กำลังตรวจ</b>
              <div class="card-overflow" v-if="renderkey" style="min-height: 2em;max-height: 12em;height: auto;">
                <table
                  @contextmenu.prevent="$refs.meetingmenu.open($event,{queue_id: queue_item.id})"
                  class="card mb-1 mt-1"
                  :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Meeting'].length"
                  v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Meeting'].slice(0, 6)"
                >
                 <tr v-if="queue_type.id == queue_item.roomId">
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                  <tr v-else-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id" >
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card-body call-bg card-h">
              <b class="white-text" v-if="sub_process[queue_type.id] != null">กำลังเรียกคิว |{{sub_process[queue_type.id].calling}}|</b>
              <div class="card-overflow" v-if="renderkey" style="min-height: 2em;max-height: 12em;height: auto;">
                <table
                  @contextmenu.prevent="$refs.callingmenu.open($event,{queue_id: queue_item.id})"
                  class="card mb-1 mt-1"
                  :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Calling'].length"
                  v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Calling'].slice(0, 6)"
                  style="width: 215px;"
                >
                  <tr v-if="queue_type.id == queue_item.roomId">
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                  <tr v-else-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id" >
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="card-body grey-bg card-h">
              <b class="white-text" v-if="sub_process[queue_type.id] != null">กำลังเข้าคิว |{{sub_process[queue_type.id].waiting}}|</b>
              <div class="row" v-if="renderkey">
                <table
                  @contextmenu.prevent="$refs.waitingmenu.open($event,{queue_id: queue_item.id})"
                  class="card mb-1 mt-1"
                  :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Waiting'].length"
                  v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Waiting'].slice(0,6)"
                  style="width: 215px;"
                >
                <tr v-if="queue_type.id == queue_item.roomId">
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                  <tr v-else-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id">
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="card-body lightyellow-bg card-h">
              <b class="black-text" v-if="sub_process[queue_type.id] != null">เจ้าของคิวหาย |{{sub_process[queue_type.id].missing}}|</b>
              <div class="card-overflow" v-if="renderkey">
                <table
                  @contextmenu.prevent="$refs.missingmenu.open($event,{queue_id: queue_item.id})"
                  class="card mb-1 mt-1"
                  :key="renderkey+'_'+index+'_'+queue[queue_type.queueTypeId]['Delayed'].length"
                  v-for="(queue_item,index) in queue[queue_type.queueTypeId]['Delayed'].slice(0, 6)"
                  style="width: 215px;"
                >
                <tr v-if="queue_type.id == queue_item.roomId">
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                  <tr v-else-if="queue_type.queueTypeId == queue_item.queueTypeId && queue_item.queue_type_name != 'พบแพทย์' && queue_item.targetPlace == queue_type.id" >
                    <td class="p-3">{{queue_item.queueNo}}</td>
                    <td  class="p-2">{{queue_item.patients_firstname}}</td>
                    <td class="p-2">{{queue_item.patients_surname}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<style>
hr {
  margin: 0;
}
.green-bg {
  background-color: green;
}
.lightyellow-bg {
  background-color: #F9FF77;
}
.yellowgreen-bg {
  background-color: #16AF0B;
}
.grey-bg {
  background-color: #C6C6C6;
}
.call-bg{
  background-color: #FFC731;
}
.main-bg{
  background-color: #CAFFF7;
}
.inner-card {
  padding: 0.5rem !important;
}
.card-overflow {
  height: 10rem;
  overflow: auto;
}
.card-row {
  min-width: 900px;
  display: flex;
  overflow: auto;
}
td {
  padding-right: 3.2em;
}
.add_button{
  font-size: 1em;
}
.card-h{
  height: 225px;
}
</style>

<script>
import service from "@/modules/service";
import { VueContext } from "vue-context";

export default {
  name: "ReQueue",
  components: {
    VueContext
  },
  data() {
    return {
      renderkey: 0,
      queue_type_list: [],
      queue: {},
      selected_queue_id: -1,
      token: "",
      count_room: 0,
      sub_process: []
    };
  },
  methods: {

    changeIndex: function(queue_type, queue_type_room){

      queue_type =  queue_type_room;

      console.log(queue_type, queue_type_room);
    },
    loadQueue() {
      var self = this;
      service.getQueueTypeList().then(function(data) {
        self.queue_type_list = data;
        var json1 = JSON.stringify(self.queue_type_list);
        console.log("queue_type: "+ json1);
        service.getQueueList().then(function(data2) {
          var queues = data2;
          var json = JSON.stringify(queues);
          console.log("Queues:"+ json);
          self.queue = {};
          for (var i = 0; i < self.queue_type_list.length; i++) {
           if (!self.queue[self.queue_type_list[i].queueTypeId]) {
              self.queue[self.queue_type_list[i].queueTypeId] = {};
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Waiting"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Waiting"] = [];
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Meeting"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Meeting"] = [];
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Delayed"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Delayed"] = [];
            }
            if (!self.queue[self.queue_type_list[i].queueTypeId]["Calling"]) {
              self.queue[self.queue_type_list[i].queueTypeId]["Calling"] = [];
            }
          }
          for (var i = 0; i < queues.length; i++) {
            if (!self.queue[queues[i].queueTypeId]) {
              self.queue[queues[i].queueTypeId] = {};
            }
            if (
              !self.queue[queues[i].queueTypeId][queues[i].queue_status_name]
            ) {
              self.queue[queues[i].queueTypeId][
                queues[i].queue_status_name
              ] = [];
            }
            self.queue[queues[i].queueTypeId][
              queues[i].queue_status_name
            ].push(queues[i]);
          }

          self.$nextTick(function() {
            console.log(self.queue);
            self.renderkey++;
          });
        });
      });
      self.getNumberEachSubProcess();
    },
    waitingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 1 ).then(function(result){
        self.loadQueue();
      });
    },
    meetingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 2 ).then(function(result){
        self.loadQueue();
      });
    },
    missingQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 3 ).then(function(result){
        self.loadQueue();
        self.getPatientToken(queue_id, "missing");
      });
    },
    cancelQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 4 ).then(function(result){
        self.loadQueue();
      }); 
    },
    callQueue: function(queue_id,queue_type_index){
      var self = this;
      service.changeQueueStatus( queue_id, 8 ).then(function(result){
        self.loadQueue();
        self.getPatientToken(queue_id, "calling");
      });
    },
    toNextQueueType: function(queue_id){
      var self = this;
      service.toNextQueueType( queue_id).then(function(result){
        self.loadQueue();
      });
    },
    getPatientToken: function(queue_id, type){
      var self =this;
      service.getPatientToken(queue_id). then(function(result){
        self.token = result["token"];
        console.log("type  "+type+"  token   "+self.token);
        if(type == "calling")
          service.sendnotidata(result["token"],"ถึงคิวคุณแล้วค่ะ","");
        else if(type == "missing"){
          service.sendnotidata(result["token"],"คิวหาย","โปรดติดต่อที่แผนกอีกครั้งค่ะ");
        }
        else{
          service.sendnotidata(result["token"],"","");
        }

      })
    },
    getNumberEachSubProcess: function(){
      var self = this;
      service.getNumberEachSubProcess(1). then(function(result){
         for(var i = 0; i < result.length; i++){
           console.log("cccccccccc  "+i+"   "+result[i].targetPlace);
           if(!self.sub_process[result[i].targetPlace]){
             self.sub_process[result[i].targetPlace] = {};
           }
              self.sub_process[result[i].targetPlace] = result[i];
         }

         
      })
    }
  },
  mounted() {
    this.loadQueue();
   setInterval(this.loadQueue, 10000);
  }
};
</script>
