<template>
  <div class="main-bg"> 
    <div class="card">
        <div class="d-flex justify-content-around">
          <button @click="addEm()" type="button" class="btn my-4 float-right" :class="(tab == 1)?'btn-success':'btn-info'">Add Employee</button>
          <button @click="addPa()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 2)?'btn-success':'btn-info'">Add Patient</button>
          <button @click="addDe()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 3)?'btn-success':'btn-info'">Add Department</button>
         <!-- <button @click="addRo()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 4)?'btn-success':'btn-info'">Add Roomlist</button>-->
          <button @click="addTi()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 5)?'btn-success':'btn-info'">Add Timeslot</button>
          <button @click="setLo()" type="button" class="btn btn-primary my-4 float-right" :class="(tab == 6)?'btn-success':'btn-info'">Set location</button>  
        </div>
        
      </div>
    <template v-if="tab == 1">  
    <form title="Add Employee" class="form-group employee_container form-bg">
        <div class="employee_form mb-4">
          <label for="employee_firstname">First Name: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="employee_firstname"></b-form-input>
          </b-col>
        </div>
        <div class="employee_form mb-4">
          <label for="employee_surname">Surname: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="employee_surname"></b-form-input>
          </b-col>
        </div>
        <div class="employee_form mb-4">
          <label for="employee_username">Username: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="employee_username"></b-form-input>
          </b-col>
        </div>
        <div class="employee_form mb-4">
          <label for="employee_password">Password: </label>
          <b-col md="5">
          <b-form-input type="password" class="form-control" id="employee_password"></b-form-input>
          </b-col>
        </div>
        <div class="employee_form mb-4">
          <label for="employee_email">Email: </label>
          <b-col md="5">
          <b-form-input type="email" class="form-control" id="employee_email"></b-form-input>
          </b-col>
        </div>
        <div class="employee_form mb-4">
          <label for="add_department1">Department: </label>
          <div class="pl-3">
            <select name="" class="form-control" id="add_department1">
              <option value="-1">----Choose the department----</option>
              <option :value="department.department_id" :key="department_index" v-for="(department,department_index) in department_lists">{{department.name}}</option>
            </select>
          </div>
        </div>    
        <br>
        <fieldset class="form-group">
          <div class="row" id="choice_doctor">
            <legend class="col-form-label col-sm-2 pt-0">Are you a doctor?</legend>
            <div class="col-sm-10">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="doctor" id="isdoctor" value="1" checked>
                  <label class="form-check-label" for="isdoctor">
                  Yes
                  </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="doctor" id="notdoctor" value="0">
                  <label class="form-check-label" for="notdoctor">
                  No
                  </label>
              </div>
            </div>
          </div>
        </fieldset>     
        <br>  
        <button type="button" v-on:click="addEmployee()" class="btn btn-info">Confirm</button>
    </form> 
    </template>


    <template v-if="tab == 2">
    <form title="Add Patient" class="form-group patient_container form-bg">
        <div class="patient_form mb-4">
          <label for="patient_firstname">First Name: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="patient_firstname"></b-form-input>
          </b-col>
        </div>
        <div class="patient_form mb-4">
          <label for="patient_surname">Surname: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="patient_surname"></b-form-input>
          </b-col>
        </div>
        <div class="patient_form mb-4">
          <label for="employee_username">Username: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="patient_username"></b-form-input>
          </b-col>
        </div>
        <div class="patient_form mb-4">
          <label for="employee_password">Password: </label>
          <b-col md="5">
          <b-form-input type="password" class="form-control" id="patient_password"></b-form-input>
          </b-col>
        </div>
        <div class="patient_form mb-4">
          <label for="employee_email">Email: </label>
          <b-col md="5">
          <b-form-input type="email" class="form-control" id="patient_email"></b-form-input>
          </b-col>
        </div>   
        <br>
        <button type="button" v-on:click="addPatient()" class="btn btn-info">Confirm</button>
    </form>
    </template>


    <template v-if="tab == 3">
    <form title="Add Department" class="form-group department_container form-bg">
        <div class="department_form mb-4">
          <label for="department_name">Department Name: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="department_name"></b-form-input>
          </b-col>
        </div>  
        <div class="department_form mb-4">
          <label for="department_description">Description: </label>
          <b-col md="5">
          <b-form-input class="form-control" id="department_description"></b-form-input>
          </b-col>
        </div>  
        <div class="text-left">
            <button type="button" v-on:click="addDepartment()" class="btn btn-info">Confirm</button>
          </div>
    </form>
    </template>

    <template v-if="tab == 4">
    <form title="Add Roomlist" class="form-group roomlist_container form-bg">
        <div class="roomlist_form mb-4">
          <b-col md="5">
          <label for="roomlist_name">Roomlist Name: </label>
          <b-form-input class="form-control" id="roomlist_name"></b-form-input>
          </b-col>
        </div>  
        <div class="roomlist_form mb-4">
          <b-col md="5">
          <label for="roomlist_description">Description: </label>
          <b-form-input class="form-control" id="roomlist_description"></b-form-input>
          </b-col>
        </div>    
        <br>
        <div class="roomlist_form mb-4">
            <b-col md="5">
            <label>Department: </label>
            <select name="department" class="form-control" id="add_department2">
              <option value="-1">----Choose the department----</option>
              <option :value="department.department_id" :key="department_index" v-for="(department,department_index) in department_lists">{{department.name}}</option>
            </select>
            </b-col>
        </div>
        <br>
        <fieldset class="form-group">
            <div id="choice_room">
            <legend class="col-form-label col-sm-2 pt-0">Examination room?</legend>
            <div class="col-sm-10">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="room_exam" id="isroom" value="1" checked>
                  <label class="form-check-label" for="isroom">
                  Yes
                  </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="room_exam" id="notroom" value="0">
                  <label class="form-check-label" for="notroom">
                  No
                  </label>
              </div>
            </div>
            </div>
        </fieldset>
        <br>
        <div class="text-left">
            <button type="button" v-on:click="addRoom()" class="btn btn-info">Confirm</button>
          </div>
    </form>
    </template>
    <template v-if="tab == 5">
      
      <form title="Add TimeSlot" class="form-group timeslot_container form-bg">
        <div class="timeslot_form mb-4">
          <label for="timeslot_roomlistId">Room Select: </label>
          <b-col md="5">
          <select name="room_select" class="form-control" id="room_select">
              <option value="-1">----Choose the room----</option>
              <option :value="roomlist.place_id" :key="roomlist_index" v-for="(roomlist,roomlist_index) in roomlist_lists">{{roomlist.name}}</option>
            </select>
          </b-col>
        </div>
        <div class="timeslot_form mb-4">
          <label for="timeslot_starttime"><h6>Start Time: </h6></label>
          <b-form inline id="starttime_choose">
          <b-col sm="1">
          <select class="form-control" id="timeslot_starttime_hour">
              <option v-for="(starthour, starthour_index) in 24" :key="starthour_index">{{starthour-1}}</option>
            </select>
          </b-col>
          :
          <b-col sm="1">
          <select class="form-control" id="timeslot_starttime_minute">
              <option v-for="(startminute, startminute_index) in 60" :key="startminute_index">{{startminute-1}}</option>
            </select>
          </b-col>
          </b-form>
        </div>
           
         <div class="timeslot_form mb-4">
          <label for="timeslot_endtime"><h6>End Time: </h6></label>
          <b-form inline id="endtime_choose">
          <b-col sm="1">
          <select class="form-control" id="timeslot_endtime_hour">
              <option v-for="(endhour, endhour_index) in 24" :key="endhour_index">{{endhour-1}}</option>
            </select>
          </b-col>
          :
          <b-col sm="1">
          <select class="form-control" id="timeslot_endtime_minute">
              <option v-for="(endminute, endminute_index) in 60" :key="endminute_index">{{endminute-1}}</option>
            </select>
          </b-col>
          </b-form>
        </div>
        <br>
        <b-col cols="6" sm="5">
              <label :for="'maxcap'"> Max Capacity: </label>
              <b-form-input id="maxcap" v-model="value" @change="onRangeChange('maxcap',value)" type="range" style="padding: 10px 0;" min="0" max="50"></b-form-input>
              <div class="mt-2">Value: {{ value }}</div>
        </b-col>
        <br>
        <div class="text-left">
            <button type="button" v-on:click="addTimeSlot()" class="btn btn-info">Confirm</button>
          </div>
    </form>
    </template>   
    <template v-if="tab == 6">
      <div class="location">
        <div class="form-bg">
          <h2>Location Settings</h2>
      <div>
        <div>
          <h4>Search and add a pin</h4>
          <b-form inline>
            <b-col cols="6" sm="5">
                <gmap-autocomplete id="maps" @place_changed="setPlace"></gmap-autocomplete>
                <button v-on:click="addMarker">Add</button>  
            </b-col>
            <b-col cols="6" sm="5">  
                Distance: <b-form-input placeholder="Enter a Distance" class="form-control" id="location_distance"></b-form-input>
            </b-col>    
          </b-form>
        </div>
          
        </div>
        <gmap-map :center="center" :zoom="12" style="width:100%;  height: 400px;">
          <gmap-marker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            @click="center=m.position"
            :draggable="true" 
          ></gmap-marker>
        </gmap-map>
      </div>
      </div>
        <button type="button" v-on:click="setHospitalInfo()" class="btn btn-info">Confirm</button> 
      </template>
      <template v-if="tab == 7">
        <div>
          Hi
        </div>
      </template>  
     </div> 
  </template> 

<script>
import service from "@/modules/service";
  export default {
    data() {
      return {
        render_key: 0,
        department_lists: [],
        employee_lists: [],
        patient_lists: [],
        roomlist_lists: [],
        timeslot_lists: [],
        location_lists: [],
        workflows: [],
        selected: '',
        tab: 1,
        value: 0,
        center: { lat: 13.792068, lng: 100.386728 },
        markers: [],
        places: [],
        currentPlace: null,
        coordinates: null
      }
    },
    methods: {
      addEm: function(){
      var self = this;
      self.tab = 1;
        self.$nextTick(function(){
          $('input').val("");
        });
        self.loadDepartment();
      },
      addPa: function(){
        var self= this;
        self.tab = 2;
        self.$nextTick(function(){
          service.registerPatient().then(function(data){
          self.patient_lists = data;
          console.log(data);
          $('input').val("");
        });
        });
      }, 
      addDe: function(){
        var self= this;
        var name = self.name;
        var description = self.description;
        self.tab = 3;
        self.$nextTick(function(){
          service.addDepartment().then(function(data){
          self.department_lists = data;
          console.log(data);
          $('input').val("");
        });
        });
      },
      addRo: function(){
        var self= this;
        self.tab = 4;
        self.$nextTick(function(){
          $('input').val("");
          });
          self.loadDepartment();
        },
      addTi: function(){
        var self= this;
          self.tab = 5;
          self.$nextTick(function(){
          $('#maxcap').val(self.value);
        })
        self.loadRoomList();
      },
      setLo: function(){
          var self=this;
          self.tab = 6;
          $('input').val("");
      },
      //for Add Employee tab
      addEmployee: function(){
        var self = this;
        var firstname = $("#employee_firstname").val();
        var surname = $("#employee_surname").val();
        var username = $("#employee_username").val();
        var password = $("#employee_password").val();
        var email = $("#employee_email").val();
        var isDoctor = $("input#isdoctor").prop('checked')?1:0;
        var departmentId = $("#add_department1").val();

        var isalert = false;

        if(!firstname || firstname == ""){
          $("#employee_firstname").addClass("border");
          $("#employee_firstname").addClass("border-danger");
          isalert = true;
          swal("กรุณากรอกชื่อ");
        }
        if(!surname || surname == ""){
          $("#employee_surname").addClass("border");
          $("#employee_surname").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอกนามสกุล");
          }
          isalert = true;
        }
        if(!username || username.length < 6){
          $("#employee_username").addClass("border");
          $("#employee_username").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอก username อย่างน้อย 6 ตัว");
          }
          isalert = true;
        }
        if(!password || password.length < 6){
          $("#employee_password").addClass("border");
          $("#employee_password").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอก password อย่างน้อย 6 ตัว");
          }
          isalert = true;
        }
        if(!self.$utils.isEmail(email)){
          $("#employee_email").addClass("border");
          $("#employee_email").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอก email ให้ถูกต้อง");
          }
          isalert = true;
        }
        if(!isalert){
          service.registerEmployee(firstname,surname,username,password,email,isDoctor,departmentId).then(function(data){
            swal("เพิ่มเรียบร้อยแล้ว").then(function(){
              self.addEm();
              $('input').val("");
              });
          });
        }
      },
      //for Add Patient tab
      addPatient: function(){
      var self = this;
      var firstname = $("#patient_firstname").val();
      var surname = $("#patient_surname").val();
      var username = $("#patient_username").val();
      var password = $("#patient_password").val();
      var email = $("#patient_email").val();
      
      var isalert = false;

      if(!firstname || firstname == ""){
          $("#patient_firstname").addClass("border");
          $("#patient_firstname").addClass("border-danger");
          isalert = true;
          swal("กรุณากรอกชื่อ");
      }

      if(!surname || surname == ""){
          $("#patient_surname").addClass("border");
          $("#patient_surname").addClass("border-danger");
          if(!isalert){
              swal("กรุณากรอกนามสกุล");
          }
          isalert = true;
      }
      if(!username || username.length < 6){
          $("#patient_username").addClass("border");
          $("#patient_username").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอก username อย่างน้อย 6 ตัว");
          }
          isalert = true;
        }
        if(!password || password.length < 6){
          $("#patient_password").addClass("border");
          $("#patient_password").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอก password อย่างน้อย 6 ตัว");
          }
          isalert = true;
        }
        if(!self.$utils.isEmail(email)){
          $("#patient_email").addClass("border");
          $("#patient_email").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอก email ให้ถูกต้อง");
          }
          isalert = true;
        }
      if(!isalert){
      service.registerPatient(firstname,surname,username,password,email).then(function(data){
        swal("เพิ่มเรียบร้อยแล้ว").then(function(){
          self.addPa();
          $('input').val("");
          });
      });
      }
      },
      //for Add Department tab
      addDepartment: function(){
      var self = this;
      var name = $("#department_name").val();
      var description = $("#department_description").val();

      var isalert = false;

      if(!name || name == ""){
          $("#department_name").addClass("border");
          $("#department_name").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอกชื่อ department");
          }
          isalert = true;
        }
        if(!description || description == ""){
          $("#department_description").addClass("border");
          $("#department_description").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอกรายละเอียดห้อง");
          }
          isalert = true;
        }
        if(!isalert){  
      service.addDepartment(name,description).then(function(data){
        swal("เพิ่มเรียบร้อยแล้ว").then(function(){
          self.addDe();
          $('input').val("");
          });
      });
      }
      },
      //for Add Room tab
      addRoom: function(){
      var self = this;
      var rlname = $("#roomlist_name").val();
      var rldescription = $("#roomlist_description").val();
      var departmentId2 = $("#add_department2").val();
      var isRoom = $("input#isroom").prop('checked')?1:0;

      var isalert = false;
      
      if(!rlname || rlname == ""){
          $("#roomlist_name").addClass("border");
          $("#roomlist_name").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอกชื่อห้อง");
          }
          isalert = true;
        }
        if(!rldescription || rldescription == ""){
          $("#roomlist_description").addClass("border");
          $("#roomlist_description").addClass("border-danger");
          if(!isalert){
            swal("กรุณากรอกรายละเอียดห้อง");
          }
          isalert = true;
        }
        if(!departmentId2 || departmentId2 == ""){
          $("#add_department2").addClass("border");
          $("#add_department2").addClass("border-danger");
          if(!isalert){
            swal("กรุณาเลือก department");
          }
          isalert = true;
        }
      if(!isalert){  
      service.addRoom(rlname,rldescription,departmentId2,isRoom).then(function(data){
        swal("เพิ่มเรียบร้อยแล้ว").then(function(){
          self.addRo();
          $('input').val("");
          });
      });
      }
      },
      //for Add Timeslot tab
      addTimeSlot: function(){
      var self = this;
      var starttime_hour = $("#timeslot_starttime_hour option:selected").val();
      var starttime_minute = $("#timeslot_starttime_minute option:selected").val();
      var endtime_hour = $("#timeslot_endtime_hour option:selected").val();
      var endtime_minute = $("#timeslot_endtime_minute option:selected").val();

      var starttime = starttime_hour + ":" + starttime_minute;
      var endtime = endtime_hour + ":" + endtime_minute;
      
      var maxcap = $("#maxcap").val();
      var roomlistId = $("#room_select").val();

      service.addTimeSlot(starttime,endtime,maxcap,roomlistId).then(function(data){
         console.log(data);
        swal("เพิ่มเรียบร้อยแล้ว").then(function(){
          self.addTi();
          $('input').val("");
          });
      });
      },
      //set location of the hospital
      setHospitalInfo: function(){
        var self = this;
         console.log("marker: "+ self.markers);
        var tempPosi = JSON.parse(JSON.stringify(self.markers[0]));
        var tempaddr = JSON.parse(JSON.stringify(self.places[0]));
        var name = tempaddr['name'];
        var latitude = tempPosi['position'].lat;
        var longitude = tempPosi['position'].lng;
        var distance = $("#location_distance").val();
      console.log(latitude);
      console.log(longitude);
      console.log(distance);
      console.log(tempaddr);
      console.log(name);
        service.setHospitalInfo(name,latitude,longitude,distance).then(function(data){
          console.log(data);
        swal("เพิ่มเรียบร้อยแล้ว").then(function(){
          self.addTi();
          $('input').val("");
          });
        })
      },
      //for loading list of department
      loadDepartment: async function(){
      var self = this;
      this.$utils.loaderOn();
      console.log('dsss');
      var departmentlist = await service.getDepartmentList();
      if(departmentlist != "department not found"){
        self.department_lists = departmentlist;
      }
      else{
        self.department_lists = [];
      }
      console.log("list  "+self.department_lists);
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
      },
      //for loading list of room
      loadRoomList: async function(){
      var self = this;
      this.$utils.loaderOn();
      var roomlist = await service.getRoomList();
      if(roomlist != "roomlist not found"){
        self.roomlist_lists = roomlist;
      }
      else{
        self.roomlist_lists = [];
      }
      
      this.$nextTick().then(function(){
        self.renderKey++;
        self.$utils.loaderOff();
      });
      },
      //START LOCATION
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        console.log(marker);
        console.log("mark size: "+this.markers.length);
        if(this.markers.length > 0){
          this.markers.pop();
          this.places.pop();
        }
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    },
    onRangeChange: function(ele_id,ele_value){
      $('#'+ele_id).val(ele_value);
    }
    //END LOCATION
  },
  mounted() {
    var self = this;
    self.addEm();
    this.geolocate();
  }
} 
</script>  

<style>
.main-bg{
  background-color: #CAFFF7;
}
.form-bg {
  background-color: white;
}
.employee_form{
  padding: 1em;
}

.patient_form{
  padding: 1em;
}

.department_form{
  padding: 1em;
}

.timeslot_form{
  padding: 1em;
}

#choice_doctor{
  padding: 1em;
}

</style>

